# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
ENV/
env/
.venv/

# Logs
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Mac & Windows system files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/config.toml

# Model files (optional)
*.h5
*.pkl
*.joblib

# Output files
*.csv
*.json
